@import url("https://fonts.googleapis.com/css?family=Niconne&display=swap");

.App {
  margin-top: 5vh;
  margin-right: 35vh;
}

.Main {
  height: 100vh;
  background-color: #8bff7a;
}

.ant-carousel .slick-slide {
  text-align: center;
  height: 160px;
  line-height: 100vh;
  background: #364d79;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}

.bg {
  /* The image used */
  background-image: url("https://images.unsplash.com/photo-1542856391-010fb87dcfed?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.text {
  font-family: "Niconne", cursive;
  font-size: 15vw;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}
